<h1 class="text-center">Lista de productos</h1>
{{#if user}}
    <div class="p-2">
        <h3>Bienvenido {{user.first_name}} </h3>
    </div>
{{/if}}
<div class="row d-flex flex-wrap m-1 justify-content-center">
    {{#each products}}
        <div class="col-sm-3">
            <div class="card text-center m-2  text-bg-secondary">
                <h2 class="card-title">{{this.title}}</h2>
                <div class="card-body">
                    <p>Precio: {{this.price}}</p>
                    <p>Descripción: {{this.description}}</p>
                    <p>Imagen : {{this.thumbnail}} </p>
                    <p>Stock : {{this.stock}} </p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>   
    {{/each}}
</div>

<div class="d-flex justify-content-center">
    <p class="justify-content-center">Página {{ pagination.page }} de {{ pagination.totalPages }}</p>
</div>
<div class="d-flex justify-content-center">
    <p>Encontrados {{ pagination.totalDocs }} productos</p>
</div>
<div class="d-flex justify-content-center">
    <div class="d-inline-flex  p-3 align-content-center">
        {{#if pagination.hasPrevPage}}
            <a href="?page={{ pagination.prevPage }}">Anterior</a>
        {{/if}}
    </div>
    <div class="d-inline-flex  p-3 align-content-center">
        {{#if pagination.hasNextPage}}
            <a href="?page= {{pagination.nextPage}} ">Siguiente</a>
        {{/if}}
    </div>
</div>
</div>


