<h1 class="text-center">Lista de productos</h1>
<div class="card m-3">
    <form class="m-3" action="/realtimeproducts" method="post" id="producto">
    <div class="mb-2 col-sm-5">
        <label  class="form-label">Nombre del Producto</label>
        <input type="text" class="form-control" placeholder="Nombre del producto" name="title">
    </div>
    <div class="mb-2 col-sm-5">
        <label  class="form-label">Descripción</label>
        <input type="text" class="form-control" placeholder="Descripción" name="description">
    </div>
    <div class="mb-2 col-sm-5">
        <label  class="form-label">Precio</label>
        <input type="number" class="form-control" placeholder="Precio" name="price">
    </div>
    <div class="mb-2 col-sm-5">
        <label  class="form-label">Imagen</label>
        <input type="text" class="form-control" placeholder="Imagen" name="thumbnail">
    </div>
    <div class="mb-2 col-sm-5">
        <label  class="form-label">Código</label>
        <input type="text" class="form-control" placeholder="Código" name="code">
    </div>
    <div class="mb-2 col-sm-5">
        <label  class="form-label">Stock</label>
        <input type="number" class="form-control" placeholder="Stock" name="stock">
    </div>
    <button type="submit" value="Crear Producto" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="row d-flex flex-wrap m-1 justify-content-center" id="contenedor-cards">
    {{#each productos}}
        {{#if this.status}}
        <div class="col-sm-3">
            <div class="card text-center m-2  text-bg-secondary">
                <h2 class="card-title">{{this.title}}</h2>
                <div class="card-body">
                    <p>Precio: {{this.price}}</p>
                    <p>Descripción: {{this.description}}</p>
                    <p>Imagen : {{this.thumbnail}} </p>
                    <p>Stock : {{this.stock}} </p>
                </div>
            </div>
        </div> 
        {{/if}}   
    {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>